@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Event</title>
</head>
<body>
    <div>
    <button>Click Me to Start Event</button>
    </div>
</body>
</html>
